@import url(reset.css);
@import url(./components/css/cards.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    --color-card-hover: #222426;
    --color-card: #222426;
    --color-titulo: #fff;
    --color-descricao: #818181;
    --color-container-card: #1e2123;
    --box-shadow-card: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}