.main-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-main);
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    background-color: var(--color-form);
    box-shadow: var(--box-shadow);
    padding: 20px;
}